<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
  <appSettings>
    <add key="downloadPath" value="https://s3.cn-north-1.amazonaws.com.cn/www.joyschoolenglish.cn/download/JoySchoolWin.zip"/>
    <add key="checkoutPath" value="http://ilab.4006688991.com:8011/default/GetVersion2"/>
  </appSettings>
</configuration>
